{% extends 'base.html' %} {% block body %}

<div class="heading">
  <h1>Task Master</h1>
</div>

<div class="content">
  <table class="content-table">
    <tr>
      <th>Task</th>
      <th>Added</th>
      <th>Actions</th>
    </tr>

    {% for task in tasks %}
    <tr>
      <td>{{ task.content }}</td>
      <td>{{ task.created_at.date() }}</td>
      <td>
        <a href="/delete/{{ task.id }}">Delete</a>
        <br />
        <a href="/update/{{ task.id }}">Update</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="form">
  <h3>Add a Task</h3>
  <form action="/add" method="POST">
    <input
      type="text"
      name="content"
      id="content"
      placeholder="Enter your Task"
    />
    <input type="submit" value="Add Task" />
  </form>
</div>

{% endblock %}
